@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="border-top text-muted p-2">
    <div class="container d-flex justify-content-between">
        <span>&copy; 2023 - GDAC - Todos os direitos reservados. CNPJ: 44.307.978/0001-76</span>
        @* <span><email>contato</email> / <email email-domain="gdac.com.br">contato</email></span> *@
        <span>Desenvolvido por <a href="www.gdac.com.br" class="link-underline-light">GDAC</a></span>
    </div>
</footer>